<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.test.auth.dao.ITUserDao">
<!-- 
	<cache type="org.mybatis.caches.ehcache.LoggingEhcache" readOnly="true"/>
 -->
	<resultMap id="BaseResultMap" type="com.test.auth.domain.TUser" >
		<id column="id" property="id" jdbcType="VARCHAR" />
	    <result column="ID" property="id" jdbcType="INTEGER" />
	    <result column="USERNAME" property="username" jdbcType="VARCHAR" />
	    <result column="PASSWORD" property="password" jdbcType="VARCHAR" />
	    <result column="FULLNAME" property="fullname" jdbcType="VARCHAR" />
	    <result column="MOBILE" property="mobile" jdbcType="VARCHAR" />

    </resultMap>
	
	<sql id="Base_Column_List">
    		ID as ID,
    		USERNAME as USERNAME,
    		PASSWORD as PASSWORD,
    		FULLNAME as FULLNAME,
    		MOBILE as MOBILE
	</sql>
	
	
	<sql id="Base_Where_Clause">
		<trim prefix="where" prefixOverrides="AND ">
	    		<if test="id != null and id !='' "> and ID = #{id}</if>
	    		<if test="username != null and username !='' "> and USERNAME = #{username}</if>
	    		<if test="password != null and password !='' "> and PASSWORD = #{password}</if>
	    		<if test="fullname != null and fullname !='' "> and FULLNAME = #{fullname}</if>
	    		<if test="mobile != null and mobile !='' "> and MOBILE = #{mobile}</if>
		</trim>
	</sql>
	
	<!-- 查询总数 -->
	<select id="selectCount" resultType="java.lang.Long" parameterType="java.util.Map">
		<!-- select count(id)-->
		select count(1)
		from t_user
		<include refid="Base_Where_Clause" />
	</select>
	
	<!-- 查询 -->
	<select id="select" resultMap="BaseResultMap" parameterType="com.test.auth.domain.TUser">
		select
		<include refid="Base_Column_List" />
		from t_user
		<include refid="Base_Where_Clause" />
	</select>
	
	<!-- 查询 -->
	<select id="loadUserByUsername" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from t_user where username = #{_parameter}
	</select>
	
	<!-- 根据ID查询 -->
	<select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from t_user
		where id = #{_parameter}
	</select>
	
	<!-- 根据ID删除 -->
	<delete id="deleteById" parameterType="java.lang.String">
		delete from t_user
		where id = #{_parameter}
	</delete>
	
	<!-- 删除 -->
	<delete id="delete" parameterType="com.test.auth.domain.TUser">
		delete from t_user
		<include refid="Base_Where_Clause" />
	</delete>

	<!-- 添加 -->	
	<insert id="insert" parameterType="com.test.auth.domain.TUser">
		insert into t_user(
    		ID,
    		USERNAME,
    		PASSWORD,
    		FULLNAME,
    		MOBIL
		)
		values (
    		#{id},
    		#{username},
    		#{password},
    		#{fullname},
    		#{mobile}
		)
	</insert>
		
	
	<!-- 通过ID更新 -->
	<update id="updateByIdSelective" parameterType="com.test.auth.domain.TUser">
		update t_user
		<trim prefix="SET" prefixOverrides=", ">
	    	<if test="id != null"> , ID = #{id}</if>
	    	<if test="username != null"> , USERNAME = #{username}</if>
	    	<if test="password != null"> , PASSWORD = #{password}</if>
	    	<if test="fullname != null"> , FULLNAME = #{fullname}</if>
	    	<if test="mobile != null"> , MOBILE = #{mobile}</if>
		</trim>
		where id = #{id}
	</update>
	
	<update id="updateById" parameterType="com.test.auth.domain.TUser">
		update t_user
		<trim prefix="SET" prefixOverrides=", "> 
    		ID = #{id},
    		USERNAME = #{username},
    		PASSWORD = #{password},
    		FULLNAME = #{fullname},
    		MOBILE = #{mobile}
    	</trim>
		where id = #{id}
	</update>
</mapper>